:root {
  --shiftBlock: 0px;
}

body {
  display: flex;
  flex-direction: column;
}

.taskOneDivMain {
  width: 600px;
  height: 50px;
  background-color: antiquewhite;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.taskOneDivSecond {
  height: 15px;
  background-color: gray;
  margin: 0 18px;
  position: relative;
}

.taskOneDivTrack {
  height: 20px;
  width: 20px;
  background-color: blue;
  margin-top: -3px;
  position: absolute;
  left: var(--shiftBlock);
}

.divTaskTwo {
  display: flex;
  flex-direction: row;
  background-color: burlywood;
  width: 500px;
  align-items: center;
  justify-content: space-around;
  margin: 10px 0px;
}

.arrow {
  width: 60px;
  height: 60px;
}

.divTaskThree {
  display: flex;
  flex-direction: column;
  width: 500px;
  align-items: center;
  justify-content: space-around;
  margin: 10px 0px;
}

.headerDiv {
  height: 25px;
  width: 100%;
  background-color: darkblue;
  color: white;
}

.infoDiv {
  width: 100%;
  background-color: thistle;
}

.divTaskThree {
  display: flex;
  flex-direction: column;
  width: 500px;
  align-items: center;
  justify-content: space-around;
  margin: 10px 0px;
}

.divTaskFour {
  display: flex;
  flex-direction: column;
  width: 300px;
  align-items: center;
  justify-content: space-around;
  margin: 10px 0px;
  background-color: wheat;
}

.divTaskFive {
  display: flex;
  flex-direction: column;
  width: 800px;
  /* align-items: center; */
  justify-content: space-around;
  margin: 10px 0px;
  background-color: wheat;
}

#infoDate {
  height: 30px;
}
